@import "../../../src/scss/variables";

.wrapper {
  width: 100%;
  .info {
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    p {
      font-family: Nunito, Inter, Roboto, system-ui, Tahoma, sans-serif;
      font-weight: 800;
      font-size: 20px;
      text-align: center;
      padding-bottom: 55px;
    }
  }

  .progress {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .infinite {
    overflow: hidden !important;
  }

  .btnUp {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    button {
      span {
        padding-top: 5px;
      }
    }
  }
}
