@import "src/scss/variables";
@import "src/scss/mixins";

.button {
  background-color: $green !important;
  border-radius: 12px !important;
  border: 0 !important;

  .icon {
    display: flex;
    color: $white;
  }

  span {
    color: $white;
    text-transform: none;
    @include fontFamily(Inter-SemiBold, 16px);
  }

  &:disabled {
    background: red !important;
  }

  &:hover {
    background: $greenHover !important;
  }

}



