@import "src/scss/variables";
@import "src/scss/mixins";

.wrapper {
  width: $widthHalf;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 102px;

  .header {
    h1 {
      @include fontFamily(Inter-ExtraDold, 72px);
      font-weight: 800;
      font-size: 72px;
      line-height: 60px;
      padding-bottom: 10px;
      word-wrap: break-word;
      text-transform: capitalize;
    }
    h4 {
      @include fontFamily(Inter-Light, 34px);
      font-weight: 500;
      color: $grayWhite;
      word-wrap: break-word;
    }
  }
  .avatar {
    width: 100%;
    padding-top: 23px;
    padding-bottom: 24px;
    img {
      @include imgCover(10px);
    }
  }
  .about {
    h4 {
      @include fontFamily(Inter-Regular, 24px);
      font-weight: 800;
      padding-bottom: 8px;
    }
    p {
      @include fontFamily(Inter-Regular, 16px);
      line-height: 28px;
    }
  }
}