@import "src/scss/variables";
@import "src/scss/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  color: $white;
  .upBlock {
    .header {
      height: 143px;
      padding-left: 43px;
      .name {
        @include fontFamily(Inter-ExtraBold, 26px);
        font-weight: 800;
        padding-top: 35px;
        padding-bottom: 14px;
      }
      .data {
        @include fontFamily(Inter-Regular, 14px);
        font-weight: 800;
        color: $gray;
      }
    }
  }
}