@import "src/scss/variables";
@import "src/scss/mixins";
@import "src/scss/fonts";

.wrapper {
  width: 446px;
  padding: 30px 40px;
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    p {
        @include fontFamily(Inter-Bold, 26px);
      }
  }
  .name, .email, .password {
    position: relative;
    padding-bottom: 20px;
    label {
      @include fontFamily(Inter-SemiBold, 13px);
      display: block;
      padding-bottom: 10px;
    }
    input {
      width: 100%;
      height: 48px;
      border: 1px solid #EEEEEE;
      @include fontFamily(Inter-Regular, 16px);
      padding-left: 15px;
      border-radius: 12px;
      @include inputFocus;
      &:hover {
        border: $borderInputHover;
      }
    }
  }
  .password {
    position: relative;
    input {
      padding-right: 45px;
    }
    i {
      position: absolute;
      right: 10px;
      top: 37px;
      color: #A0A0A0;
      cursor: pointer;
    }
  }
  .buttonIn {
    padding-top: 15px;
    padding-bottom: 17px;
  }
  .buttonAuth {
    padding-top: 15px;
  }
  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $yellowText, rgba(0, 0, 0, 0));
  }
}
