@mixin imgCover($border-radius) {
  border-radius: $border-radius;
  max-width: 100%;
  height: auto;
}
@mixin fontFamily($font-family, $font-size) {
  font-family: $font-family, Roboto, system-ui, Tahoma, sans-serif;
  font-size: $font-size;
}
@mixin inputFocus() {
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: scaleX(1.05);
  }
}