@import "../../../scss/variables";
@import "../../../scss/mixins";

.wrapper {
  .menu {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 75px;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    @include fontFamily(Inter-SemiBold, 17px);
    transform: rotate(-90deg);
    .icon {
      transform: rotate(90deg);
    }
    .text {
      letter-spacing: 0.12em;
      padding-left: 18px;
    }
  }
}